{{<html}}
{{$main}}

{{#empty(pagination.post)}}
{{/empty(pagination.post)}}
{{^empty(pagination.post)}}
{{#pagination.post}}
    {{number}}
    {{total}}
{{/pagination.post}}
{{/empty(pagination.post)}}

{{& page.contents}}

<div id="blog" class="wrapper">

    {{#empty(site.context.posts)}}
    Empty.
    {{/empty(site.context.posts)}}
    {{^empty(site.context.posts)}}
    <div id="blog-posts" class="grid grid-321">
    {{#site.context.posts}}
        {{> partials.blog.post}}
    {{/site.context.posts}}
    </div>
    {{/empty(site.context.posts)}}
    
    <br>
    <a href="/articles/page/1" class="cta">Browse all articles</a>
    

    <h2>Tags</h2>
    <br>
    {{#empty(site.context.tags)}}
    Empty.
    {{/empty(site.context.tags)}}
    {{^empty(site.context.tags)}}
        <div class="grid grid-221">
    {{#site.context.tags}}
        {{> partials.blog.tag}}
    {{/site.context.tags}}
    </div>
    {{/empty(site.context.tags)}}
    
    <h2>Authors</h2>
    <br>
    {{#empty(site.context.authors)}}
    Empty.
    {{/empty(site.context.authors)}}
    {{^empty(site.context.authors)}}
        <div class="grid grid-221">
    {{#site.context.authors}}
        {{> partials.blog.author}}
    {{/site.context.authors}}
    </div>
    {{/empty(site.context.authors)}}

</div>
{{/main}}
{{/html}}
