<footer id="site-footer">
    <div class="grid grid-421">

        <div>
            <h4>Menu</h4>
            <ul>
                <li><a href="{{site.baseUrl}}/news/">News</a></li>
                <li><a href="{{site.baseUrl}}/docs/">Docs</a></li>
                <li><a href="{{site.baseUrl}}/faq/">FAQ</a></li>
                <li><a href="{{site.baseUrl}}/showcases/">Showcases</a></li>
                <li><a href="{{site.baseUrl}}/contact/">Contact</a></li>
            </p>
        </div>
        
        <div>
            <h4>Links</h4>
            <li><a href="https://github.com/toucansites/">GitHub</a></li>
            <li><a href="https://binarybirds.com/">Binary Birds</a></li>
            <li><a href="https://x.com/tiborbodecs">tiborbodecs</a></li>
            <li><a href="{{site.baseUrl}}/rss.xml" target="_blank">RSS</a></li>
            <li><a href="{{site.baseUrl}}/sitemap.xml" target="_blank">Sitemap</a></li>
        </div>
        
        
        <div>
            <picture>
                <img
                    id="logo-image"
                    src="{{site.baseUrl}}/images/logos/logo.png"
                    alt="Logo of {{site.name}}"
                    title="{{site.name}}"
                >
            </picture>
        </div>
        
        <div>
            <h4>Toucan</h4>
            <p><small>This site was generated<br>using <a href="https://swift.org/" target="_blank">Swift</a> & <a href="https://github.com/toucansites/toucan/" target="_blank">Toucan</a>.</small></p>
            <small><br>
                Binary Birds Kft.<br>
                &copy; 2023 - {{site.generation.formats.year}}<br>
                <a href="https://github.com/toucansites/website/blob/main/LICENSE" target="_blank">MIT License</a></small>
        </div>
    </div>
</footer>