<link rel="apple-touch-icon" sizes="180x180" href="{{baseUrl}}/icons/180.png">
<link rel="apple-touch-icon" sizes="167x167" href="{{baseUrl}}/icons/167.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{baseUrl}}/icons/152.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{baseUrl}}/icons/144.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{baseUrl}}/icons/120.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{baseUrl}}/icons/114.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{baseUrl}}/icons/76.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{baseUrl}}/icons/72.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{baseUrl}}/icons/60.png">
<link rel="apple-touch-icon" sizes="57x57" href="{{baseUrl}}/icons/57.png">
<link rel="apple-touch-icon" href="{{baseUrl}}/icons/57.png">

<link rel="shortcut icon" sizes="196x196" href="{{baseUrl}}/icons/196.png">
<link rel="shortcut icon" type="image/png" href="{{baseUrl}}/icons/57.png">
<link rel="shortcut icon" type="image/x-icon" href="{{baseUrl}}/icons/favicon.ico">

<link rel="icon" type="image/png" href="{{baseUrl}}/icons/favicon.png">

<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseUrl}}/splash/1136x640.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{baseUrl}}/splash/2436x1125.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseUrl}}/splash/1792x828.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseUrl}}/splash/828x1792.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseUrl}}/splash/1334x750.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{baseUrl}}/splash/1242x2688.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{baseUrl}}/splash/2208x1242.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{baseUrl}}/splash/1125x2436.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{baseUrl}}/splash/1242x2208.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseUrl}}/splash/2732x2048.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{baseUrl}}/splash/2688x1242.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseUrl}}/splash/2224x1668.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseUrl}}/splash/750x1334.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseUrl}}/splash/2048x2732.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseUrl}}/splash/2388x1668.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseUrl}}/splash/1668x2224.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseUrl}}/splash/640x1136.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseUrl}}/splash/1668x2388.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseUrl}}/splash/2048x1536.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: light) and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseUrl}}/splash/1536x2048.png">

<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseUrl}}/splash/1136x640~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{baseUrl}}/splash/2436x1125~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseUrl}}/splash/1792x828~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseUrl}}/splash/828x1792~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseUrl}}/splash/1334x750~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{baseUrl}}/splash/1242x2688~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{baseUrl}}/splash/2208x1242~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{baseUrl}}/splash/1125x2436~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{baseUrl}}/splash/1242x2208~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseUrl}}/splash/2732x2048~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{baseUrl}}/splash/2688x1242~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseUrl}}/splash/2224x1668~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseUrl}}/splash/750x1334~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseUrl}}/splash/2048x2732~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseUrl}}/splash/2388x1668~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseUrl}}/splash/1668x2224~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseUrl}}/splash/640x1136~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseUrl}}/splash/1668x2388~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{baseUrl}}/splash/2048x1536~dark.png">
<link rel="apple-touch-startup-image" media="screen and (prefers-color-scheme: dark) and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{baseUrl}}/splash/1536x2048~dark.png">