<!DOCTYPE html>
<html {{#site.locale}}lang="{{.}}"{{/site.locale}}>
<head>
    <meta charset="utf-8">
    {{#page.noindex}}<meta name="robots" content="noindex">{{/page.noindex}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{page.description}}">
    
    <meta property="og:url" content="{{page.permalink}}">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    {{#page.image}}<meta property="og:image" content="{{.}}" />{{/page.image}}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{page.description}}">
    {{#page.image}}<meta name="twitter:image" content="{{.}}">{{/page.image}}
    
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{{site.name}}">
    <meta name="apple-mobile-web-app-orientations" content="portrait-any">
    
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#fff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#000" media="(prefers-color-scheme: dark)">

    <title>{{page.title}}</title>

    <link rel="canonical" href="{{page.permalink}}">
    {{#page.hreflang}}
    <link rel="alternate" hreflang="{{lang}}" href="{{url}}">
    {{/page.hreflang}}
    {{#page.prev}}<link rel="prev" href="{{permalink}}">{{/page.prev}}
    {{#page.next}}<link rel="next" href="{{permalink}}">{{/page.next}}

    <link rel="manifest" href="/manifest.json" />

    <link rel="stylesheet" href="{{site.baseUrl}}/css/modern-normalize.css">
    <link rel="stylesheet" href="{{site.baseUrl}}/css/modern-base.css">
    <link rel="stylesheet" href="{{site.baseUrl}}/css/variables.css">
    <link rel="stylesheet" href="{{site.baseUrl}}/css/base.css">
    <link rel="stylesheet" href="{{site.baseUrl}}/css/grid.css">
    <link rel="stylesheet" href="{{site.baseUrl}}/css/navigation.css">
    <link rel="stylesheet" href="{{site.baseUrl}}/css/footer.css">
    <link rel="stylesheet" href="{{site.baseUrl}}/css/theme.css">
    
    {{#page.css}}<link rel="stylesheet" href="{{.}}">{{/page.css}}

    {{> partials.links}}

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css"
        media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css"
        media="(prefers-color-scheme: dark)"
    >

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

</head>

<body>
    {{> partials.navigation}}

    <main id="page-container">
    {{$main}}
        <p>No content.</p>
    {{/main}}
    </main>

    {{> partials.footer}}

    {{#page.js}}<script src="{{.}}" async></script>{{/page.js}}
</body>
</html>