{{<html}}
{{$main}}

<div class="hero">
    <div class="aside">
    <img
        src="{{baseUrl}}/images/logos/logo.png"
        alt="Logo of Toucan"
        title="Toucan"
        >
    </div>
    <div class="main">
        <h1>{{page.hero.title}}</h1>
        <hr class="medium">
        <p>{{& page.hero.description}}</p>
        <a class="cta" href="{{page.hero.cta.url}}">
            <span>{{page.hero.cta.label}}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
        </a>
        <small>{{page.hero.note}}</small>
    </div>
</div>


<div class="features">
    <div class="spacer">
        <h2 class="caption">{{page.features.title}}</h2>
        <hr class="short">
        <p>{{page.features.description}}</p>

        <div class="grid grid-421">
            {{#page.features.items}}
            <div class="feature {{id}}">
                <img src="{{baseUrl}}/assets/features/{{id}}.png">
                <h3>{{title}}</h3>
                <p>{{& description}}</p>
            </div>
            {{/page.features.items}}
        </div>

    </div>
</div>


<div class="story">
    <div class="spacer">
        <h2 class="caption">{{page.roadmap.title}}</h2>
        <hr class="short">
        <p>{{page.roadmap.description}}</p>

        <div class="timeline scroll-container">
            <ul class="roadmap">
                {{#page.roadmap.entries}}
                <li>
                    <div class="entry">
                        <span>{{date}}</span>
                        <hr>
                        <div class="contents">
                            {{& contents}}
                        </div>
                    </div>
                </li>
                {{/page.roadmap.entries}}
            </ul>
        </div>
    </div>

</div>

<div class="use-cases">
    <div class="spacer">
    <div class="grid grid-221">
        <div>
            <img src="{{baseUrl}}/assets/showcases/aws.png">
        </div>
        <div>
            <h2>{{page.showcase.title}}</h2>
            <p>{{page.showcase.description}}</p>

            <a class="cta" href="{{baseUrl}}/contact/">Let's build together</a>

            <p><a href="{{baseUrl}}/showcases/">Showcases</a></p>
        </div>
    </div>
</div>

<div class="news">
    <div class="spacer">
        <h2>{{page.news.title}}</h2>
        <p>{{page.news.description}}</p>
        
        <div class="grid grid-221">
        {{#context.posts}}
            {{> partials.blog.post}}
        {{/context.posts}}
        </div>
        <a href="/articles/page/1/" class="cta">Browse all articles</a>

    </div>
</div>

{{/main}}
{{/html}}
