{{<html}}
{{$main}}

{{& page.contents.html}}

<div id="blog" class="wrapper">

    {{#empty(context.posts)}}
    Empty.
    {{/empty(context.posts)}}
    {{^empty(context.posts)}}
    <div id="blog-posts" class="grid grid-321">
    {{#context.posts}}
        {{> partials.blog.post}}
    {{/context.posts}}
    </div>
    {{/empty(context.posts)}}
    
    <br>
    <a href="/articles/page/1" class="cta">Browse all articles</a>
    

    <h2>Tags</h2>
    <br>
    {{#empty(context.tags)}}
    Empty.
    {{/empty(context.tags)}}
    {{^empty(context.tags)}}
        <div class="grid grid-221">
    {{#context.tags}}
        {{> partials.blog.tag}}
    {{/context.tags}}
    </div>
    {{/empty(context.tags)}}
    
    <h2>Authors</h2>
    <br>
    {{#empty(context.authors)}}
    Empty.
    {{/empty(context.authors)}}
    {{^empty(context.authors)}}
        <div class="grid grid-221">
    {{#context.authors}}
        {{> partials.blog.author}}
    {{/context.authors}}
    </div>
    {{/empty(context.authors)}}

</div>
{{/main}}
{{/html}}
